{% load static %}

<!DOCTYPE html>
<html lang="ru">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta name="format-detection" content="telephone=no">
    <meta name="theme-color" content="#51A5B0"/>
    <link rel="icon" href="/static/favicons/favicon.ico" type="image/x-icon">
    <link rel="apple-touch-icon" sizes="60x60" href="/static/favicons/apple-touch-icon-60x60.png">
    <link rel="apple-touch-icon" sizes="76x76" href="/static/favicons/apple-touch-icon-76x76.png">
    <link rel="apple-touch-icon" sizes="120x120" href="/static/favicons/apple-touch-icon-120x120.png">
    <link rel="apple-touch-icon" sizes="152x152" href="/static/favicons/apple-touch-icon-152x152.png">
    <link rel="apple-touch-icon" sizes="180x180" href="/static/favicons/apple-touch-icon.png">
    <link rel="mask-icon" href="/static/favicons/safari-pinned-tab.svg" color="#40bfac">
    <link rel="icon" type="image/png" href="/static/favicons/favicon-16x16.png" sizes="16x16">
    <link rel="icon" type="image/png" href="/static/favicons/favicon-32x32.png" sizes="32x32">
    <link rel="icon" type="image/png" href="/static/favicons/favicon-96x96.png" sizes="96x96">
    <link rel="icon" type="image/png" href="/static/favicons/android-chrome-192x192.png" sizes="192x192">
    <link rel="icon" type="image/png" href="/static/favicons/android-chrome-512x512.png" sizes="512x512">
    <link rel="manifest" href="static/manifest/manifest.json">
    <meta name="msapplication-TileColor" content="#40bfac">
    <meta name="msapplication-TileImage" content="/static/favicons/mstile-70x70.png">
    <meta name="msapplication-TileImage" content="/static/favicons/mstile-150x150.png">
    <meta name="msapplication-TileImage" content="/static/favicons/mstile-310x150.png">
    <meta name="msapplication-TileImage" content="/static/favicons/mstile-310x310.png">
    <meta name="description" content="{{ site_settings.seo_description }}"> 

    <meta name="yandex-verification" content="5c0db6cde5150df0" />
    <meta name="google-site-verification" content="8EroBFdot1LwYlq3C6hE42Nap0HSTemWg7ZIOQWljew" />

    <link rel="stylesheet" href="/static/js/lib/slick/slick.css">

    <link rel="stylesheet" href="/static/css/style.css?v=16032020">
    <title>{{ site_settings.seo_title }}</title>
  </head>
  <body>

    <div class="overlay"></div>
    <div class="modal modal_discount">
      <div class="modal__close"></div>
      <div class="modal__img"></div>
      <div class="modal__content modal__content-main active">
        <div class="modal__title">Оставьте свой e-mail и получите скидку 15% на первое посещение!</div>
        <div class="modal__text">Письмо со скидкой придет в течение 5 минут</div>
        <form class="modal__form">
          {% csrf_token %}
          <input id="disc_name" aria-label="disc_name" name="name" type="text" placeholder="Как Вас зовут?">
          <input id="disc_email" aria-label="disc_email" name="email" type="text" placeholder="На какую почту выслать скидку?">
          <div class="modal__button">Получить скидку</div>
        </form>
        <div class="modal__bot">Мы обещаем не использовать вашу электронную почту для спама!</div>
      </div>
      <div class="modal__content modal__content-success">
        <div class="modal__title modal__title-success">До встречи в KYNSI!</div>
        <div class="modal__text modal__text-success">Обязательно проверьте папку со спамом!</div>
      </div>
    </div>

    <div class="modal modal_cert">
      <div class="modal__close"></div>
        <div class="modal__img"></div>
        <div class="modal__title modal__title-cert">Заказать подарочный сертификат</div>
        <div class="modal__content modal__content-main active">
          <form class="modal__form">
            {% csrf_token %}
            <input id="cert_name" aria-label="cert_name" name="name" type="text" placeholder="Ваше имя">
            <input id="cert_phone" aria-label="cert_phone" name="phone" type="text" placeholder="Ваш номер телефона">
            <input id="cert_nominal" aria-label="cert_nominal" name="nominal" type="text" placeholder="Номинал сертификата">
            <div class="modal_nominal">Минимальный заказ: 3000 р.</div>
            <div class="modal__button">Заказать</div>
          </form>
        </div>
        <div class="modal__content modal__content-success">
          <div class="modal__title modal__title-success">Ожидайте звонка вашего менеджера. До встречи в KYNSI!</div>
        </div>
    </div>

    <div class="modal modal_box">
      <div class="modal__close"></div>
        <div class="modal__img"></div>
        <div class="modal__title modal__title-cert">Заказать KYNSI BOX</div>
        <div class="modal__content modal__content-main active">
          <form class="modal__form">
            {% csrf_token %}
            <input id="box_name" aria-label="box_name" name="name" type="text" placeholder="Ваше имя">
            <input id="box_phone" aria-label="box_phone" name="phone" type="text" placeholder="Ваш номер телефона">
            <textarea id="box_nominal" aria-label="box_nominal" name="nominal" placeholder="Пожелания по наполнению"></textarea>
            <div class="modal__button">Заказать</div>
          </form>
        </div>
        <div class="modal__content modal__content-success">
          <div class="modal__title modal__title-success">Ожидайте звонка вашего менеджера. До встречи в KYNSI!</div>
        </div>
    </div>

    <div class="modal modal_info">
      <div class="modal__close"></div>
        <div class="modal__img"></div>
        <div class="modal__title modal__title-info">На сертификате мы разместим Ваше персональное послание для человека, которому предназначен подарок.<br /><br />
        Номинал сертификата: сумма по вашему желанию</div>
    </div>

    <div class="header">
      <div class="wrapper wrapper-header">
        <div class="header__logo"></div>
        {% block header_nav %}
          <nav class="header__navs">
            <div data-nav="about" class="header__nav">О нас</div>
            <div data-nav="services" class="header__nav">Услуги</div>
            <div data-nav="salons" class="header__nav">Салоны</div>
            <div data-nav="certs" class="header__nav">В подарок</div>
            <div data-call-salon-org class="header__nav widget reservi_button_emulation">Онлайн-запись</div>
            {% comment %}<a href="https://api.whatsapp.com/send?phone=79252377590" aria-label="whatsapp" class="header__nav header__nav-whatsapp">Записаться в Whatsapp <img class="lazyload" src="#" data-src="/static/img/whatsapp.svg" alt=""></a>{% endcomment %}
          </nav>
        {% endblock %}
        <div class="header__right">

          {% include "includes/socials.html" %}
          
          {% if salons %}
            <div class="header__phone">
              <svg xmlns="http://www.w3.org/2000/svg" width="16" height="15" viewBox="0 0 16 15" fill="none"><path fill-rule="evenodd" clip-rule="evenodd" d="M4.526 5.22483L5.76464 3.92989C5.98985 3.70468 6.10245 3.19797 5.76464 2.86016L3.39997 0.213978C3.39997 0.213978 2.83695 -0.180134 2.33023 0.101374C1.87982 0.382883 0.0781656 1.79043 0.584881 4.88702C1.1479 8.32143 7.17218 14.402 10.6066 14.9087C13.7032 15.4154 15.1107 13.6701 15.3922 13.1634C15.6737 12.6567 15.3359 12.0936 15.3359 12.0936L12.6335 9.72897C12.183 9.27856 11.7889 9.50376 11.5637 9.72897L10.3251 10.9676C9.36795 11.6432 3.85038 6.12566 4.526 5.22483Z"/></svg>
              <div class="header__drop">
                {% for salon in salons %}
                  <div class="header__row">
                    <div class="header__title">{{ salon.short_title }}</div>
                    <a class="mgo-number-{{ salon.mango }} header__link" href="tel:{{ salon.phone }}">{{ salon.phone }}</a>
                  </div>
                {% endfor %}
              </div>
            </div>
          {% endif %}
          <div class="header__menu"></div>
        </div>
      </div>
    </div>

    {% block content %}{% endblock %}

    <div class="footer animation animation_bot">
      <div class="footer__top">
        {% for salon in salons %}
          <article class="footer__address">
            <h3 class="footer__h3">{{ salon.title }}</h3>
            <div class="footer__wrp">
              <div class="footer__row footer__row-line">{{ salon.address }}</div>
              <div class="footer__row">{{ salon.time }}</div>
              {% if salon.phone %}
                <div class="footer__row">Телефон для записи: <a class="mgo-number-{{ salon.mango }}" href="tel:{{ salon.phone }}">{{ salon.phone }}</a></div>
              {% endif %}
            </div>
          </article>
        {% endfor %}
      </div>
      <div class="footer__bottom">

        {% include "includes/socials.html" %}

        <div class="header__emails">
          {% if site_settings.facebook %}
            <div class="header__email">Вопросы и предложения: <a href="mailto:{{ site_settings.q_email }}">{{ site_settings.q_email }}</a></div>
          {% endif %}
          {% if site_settings.facebook %}
            <div class="header__email">Работайте с нами: <a href="mailto:{{ site_settings.work_email }}">{{ site_settings.work_email }}</a></div>
          {% endif %}
          {% if site_settings.facebook %}
            <div class="header__email">Связь для прессы: <a href="mailto:{{ site_settings.pr_email }}">{{ site_settings.pr_email }}</a></div>
          {% endif %}
        </div>
      </div>
    </div>

    
    <script src="/static/js/lib/jquery/jquery.js"></script>
    <script src="//reservi.ru/4.0/22606264/"></script>
    <script>
      $(document).ready(function(){
          csrftoken = $("[name=csrfmiddlewaretoken]").val();
      })
    </script>
    <script src="/static/js/lib/slick/slick.min.js"></script>
    <script src="/static/js/lib/lazysizes/lazysizes.js"></script>
    <script src="/static/js/csrf.js"></script>

    <script src="/static/js/scripts.js?v=16032020"></script>

    {% comment %}<!-- This site is converting visitors into subscribers and customers with OptinMonster - https://optinmonster.com-->
    <script type="text/javascript" src="https://a.optmnstr.com/app/js/api.min.js" data-account="51874" data-user="45798" async></script>
    <!-- / OptinMonster -->{% endcomment %}

    <script>
      (function(){ var widget_id = 'aGjpmjWGfG';var d=document;var w=window;function l(){var s = document.createElement('script'); s.type = 'text/javascript'; s.async = true;s.src = '//code.jivosite.com/script/widget/'+widget_id; var ss = document.getElementsByTagName('script')[0]; ss.parentNode.insertBefore(s, ss);}if(d.readyState=='complete'){l();}else{if(w.attachEvent){w.attachEvent('onload',l);}else{w.addEventListener('load',l,false);}}})();
    </script>

    <script>
      (function(w, d, u, i, o, s, p) {
          if (d.getElementById(i)) { return; } w['MangoObject'] = o; 
          w[o] = w[o] || function() { (w[o].q = w[o].q || []).push(arguments) }; w[o].u = u; w[o].t = 1 * new Date();
          s = d.createElement('script'); s.async = 1; s.id = i; s.src = u;
          p = d.getElementsByTagName('script')[0]; p.parentNode.insertBefore(s, p);
      }(window, document, '//widgets.mango-office.ru/widgets/mango.js', 'mango-js', 'mgo'));
      mgo({calltracking: {id: 11427, elements: [{"selector":".mgo-number-11427"}]}});
    </script>

    <script>
      (function(w, d, u, i, o, s, p) {
          if (d.getElementById(i)) { return; } w['MangoObject'] = o; 
          w[o] = w[o] || function() { (w[o].q = w[o].q || []).push(arguments) }; w[o].u = u; w[o].t = 1 * new Date();
          s = d.createElement('script'); s.async = 1; s.id = i; s.src = u;
          p = d.getElementsByTagName('script')[0]; p.parentNode.insertBefore(s, p);
      }(window, document, '//widgets.mango-office.ru/widgets/mango.js', 'mango-js', 'mgo'));
      mgo({calltracking: {id: 11426, elements: [{"selector":".mgo-number-11426"}]}});
    </script>

    <script>
      (function(w, d, u, i, o, s, p) {
          if (d.getElementById(i)) { return; } w['MangoObject'] = o; 
          w[o] = w[o] || function() { (w[o].q = w[o].q || []).push(arguments) }; w[o].u = u; w[o].t = 1 * new Date();
          s = d.createElement('script'); s.async = 1; s.id = i; s.src = u;
          p = d.getElementsByTagName('script')[0]; p.parentNode.insertBefore(s, p);
      }(window, document, '//widgets.mango-office.ru/widgets/mango.js', 'mango-js', 'mgo'));
      mgo({calltracking: {id: 11408, elements: [{"selector":".mgo-number-11408"}]}});
    </script>

    {% comment %}<script type="text/javascript">!function(){var t=document.createElement("script");t.type="text/javascript",t.async=!0,t.src="https://vk.com/js/api/openapi.js?160",t.onload=function(){VK.Retargeting.Init("VK-RTRG-246364-53nuo"),VK.Retargeting.Hit()},document.head.appendChild(t)}();</script><noscript><img class="lazyload" src="https://vk.com/rtrg?p=VK-RTRG-246364-53nuo" style="position:fixed; left:-999px;" alt=""/></noscript>{% endcomment %}

    <!-- Facebook Pixel Code -->
    <script>
      !function(f,b,e,v,n,t,s)
      {if(f.fbq)return;n=f.fbq=function(){n.callMethod?
      n.callMethod.apply(n,arguments):n.queue.push(arguments)};
      if(!f._fbq)f._fbq=n;n.push=n;n.loaded=!0;n.version='2.0';
      n.queue=[];t=b.createElement(e);t.async=!0;
      t.src=v;s=b.getElementsByTagName(e)[0];
      s.parentNode.insertBefore(t,s)}(window, document,'script',
      'https://connect.facebook.net/en_US/fbevents.js');
      fbq('init', '247362045788595');
      fbq('track', 'PageView');
    </script>
    <noscript><img height="1" width="1" style="display:none"
      src="https://www.facebook.com/tr?id=247362045788595&ev=PageView&noscript=1" alt=""
    /></noscript>
    <!-- End Facebook Pixel Code -->

    <!-- Yandex.Metrika counter -->
    <script>
        (function (d, w, c) {
            (w[c] = w[c] || []).push(function() {
                try {
                    w.yaCounter18944653 = new Ya.Metrika2({
                        id:18944653,
                        clickmap:true,
                        trackLinks:true,
                        accurateTrackBounce:true,
                        webvisor:true,
                        trackHash:true
                    });
                } catch(e) { }
            });

            var n = d.getElementsByTagName("script")[0],
                s = d.createElement("script"),
                f = function () { n.parentNode.insertBefore(s, n); };
            s.type = "text/javascript";
            s.async = true;
            s.src = "https://mc.yandex.ru/metrika/tag.js";

            if (w.opera == "[object Opera]") {
                d.addEventListener("DOMContentLoaded", f, false);
            } else { f(); }
        })(document, window, "yandex_metrika_callbacks2");
    </script>
    <noscript><div><img src="https://mc.yandex.ru/watch/18944653" style="position:absolute; left:-9999px;" alt="" /></div></noscript>
    <!-- /Yandex.Metrika counter -->

    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-108073014-1"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());

      gtag('config', 'UA-108073014-1');
    </script>

  </body>
</html>