{% extends '_base.html' %}

{% block header_nav %}{% endblock %}

{% block content %}

  <div class="wrapper wrapper-care">

    <section class="block_1">
      <div class="block_1__image animation animation_left lazyload" data-bg="/static/img/care.jpg"></div>
      <div class="block_1__right animation animation_right">
        <h2 class="block_1__h2">Дорогие гости, <br/> Салоны KYNSI работают в обычном режиме. </h2>
        <div class="certs__big">Мы усилили меры предосторожности и гигиены:</div>
        <ul class="block_2__text">
          <li>В каждом салоне проводится дезинфекция воздуха в режиме нон-стоп с помощью медицинских рецеркуляторов воздуха;</li>
          <li>Мы дополнили уборные антисептическим мылом; </li>
          <li>Медицинские маски и антисептик находится в свободном доступе для всех гостей;</li>
          <li>Все сотрудники работают в одноразовых масках и соблюдают режим гигиены рук;</li>
          <li>Рабочие поверхности мастеров обрабатываются антисептиком до и после каждого визита гостя; </li>
          <li>Мы внимательно следим за здоровьем, регулярно измеряем температуру всех сотрудников и соблюдаем меры самоизоляции для тех, кто недавно вернулся из отпуска.</li>
        </ul>
        <div class="block_2__text">Мы рады вашему визиту и сделаем всё чтобы вы могли расслабиться во время посещения KYNSI.<br /> 
          Однако если вы решили перенести вашу запись, просим сообщить об этом администратору. </div>
        <div class="block_2__text">Главное будьте здоровы, красивы и старайтесь сохранить спокойствие ❤</div>
      </div>
    </section>

    {% include "includes/yandex_map.html" %}

  </div>

{% endblock %}