{% extends '_base.html' %}

{% block header_nav %}{% endblock %}

{% block content %}

  <div class="wrapper">

    <section class="dc_main">
      <h1 class="dc_main__h1 animation animation_bot">Театральный дресс-код</h1>
      <div class="dc_block__text dc_block__text-center animation animation_bot">Театр, как известно, начинается с вешалки, а значит, поход в театр начинается с выбора наряда. Официальный дресс-код остался в прошлом, если только на приглашении не стоит пометки Black Tie, предписывающий вечернее платье для женщины и смокинг для мужчины.</div>
      <img class="dc_main__banner animation animation_bot" src="/static/img/dc_main__banner-2.jpg" alt="">
      <h2 class="dc_main__h2 animation animation_bot">Как же тогда следует выглядеть?</h2>
      <div class="dc_block__text animation animation_bot">Поход в театр — это свидание с искусством, к которому стоит подготовиться соответствующе. В XIX веке рекомендации по внешнему виду зрителей перечислялись в правилах театрального этикета, которые хранятся в музее Минусинского театра. Они устанавливали даже глубину декольте — чем ниже ярус бельэтажа или балкона, тем глубже вырезы у дам. В партере же, куда женщин начали пускать только после 1860-х годов, наряд отличался скромностью, чтобы не отвлекать мужчин, — закрытое платье, непременно черное, и никаких украшений. Пышные прически и большие шляпы не приветствовались — они заслоняли вид на сцену тем, кто сидел позади. Впрочем, об этом стоит помнить и в наши дни.</div>
    </section>

    <section class="dc_block">
      <div class="dc_block__image animation animation_left" style="background-image: url(/static/img/dc_block-1.jpg);"></div>
      <div class="dc_block__wp animation animation_right">
        <h2 class="dc_block__h2">Главным правилом в современном театре остается уместность.</h2>
      </div>
      <div class="dc_block__text">Что же касается одежды, главным правилом в современном театре остается уместность. Если на экспериментальном спектакле в декорациях полуразрушенного завода длинные платья и шпильки будут смотреться нелепо, то и на премьере оперы джинсы и кроссовки точно не подойдут. Кстати, об обуви — зимой в театр принято брать с собой сменку: не только ради красоты, но и для удобства.</div>
    </section>

    <section class="dc_block">
      <div class="dc_block__wp animation animation_left">
        <h2 class="dc_block__h2">Наряд зрителей может стать частью общего декора и создать нужное настроение…</h2>
      </div>
      <div class="dc_block__image animation animation_right" style="background-image: url(/static/img/dc_block-2.jpg);"></div>
      <div class="dc_block__text">Поход в театр — праздничное событие, которое лучше подчеркнуть внешне. Более того, наряд зрителей может стать частью общего декора и создать нужное настроение, особенно, для таких жанров, как опера или балет. Вечерний туалет можно рассматривать и как дань уважения традициям. Не обязательно платья в пол и бриллианты — тем более, если вы идете в театр после работы в будний день, — деловой костюм, дополненный аксессуарами, будет вполне уместен.</div>
    </section>

    <section class="dc_block">
      <div class="dc_block__image animation animation_left" style="background-image: url(/static/img/dc_block-3.jpg);"></div>
      <div class="dc_block__wp animation animation_right">
        <h2 class="dc_block__h2">Не обязательно платья в пол и бриллианты — деловой костюм, дополненный аксессуарами, будет вполне уместен.</h2>
      </div>
      <div class="dc_block__text"><b>Если театр начинается с вешалки, то образ — с прически.</b><br />
        По промокоду «Культурный код» наш партнер, салон красоты KYNSI, предоставит вам приятную скидку -15% на создание подходящего образа для любого мероприятия. 
        <a href="/static/pdf/dresscode.pdf" target="_blank">Посмотреть коллекцию вечерних образов</a>
      </div>
    </section>

    {% include "includes/salons.html" %}

  </div>

{% endblock %}