{% extends '_base.html' %}

{% block content %}
    <div class="banner lazyload" data-bg="/static/img/banner-mob.jpg">
      <div class="banner__video">
        <video class="banner__video lazyload" data-src="/static/video/video_comp.mp4" playsinline="" autoplay="" loop="" muted=""></video>
      </div>
      <div class="banner__wrapper">
        <div class="banner__wr banner__wr-2">
          <div class="banner__title">Для новых гостей KYNSI дарит скидку 15% на первое посещение</div>
          <div class="show_modal button button-banner" data-optin-slug="oewrrvnfegodghltcpuo">Получить скидку</div>
        </div>
        <div class="banner__wr banner__wr-1 active">
          <img class="banner__logo lazyload" src="#" data-src="/static/img/header__logo-white.svg" alt="">
          <div class="banner__text">NAIL SPA & HAIR</div>
           <div class="button button-banner widget reservi_button_emulation">Онлайн-запись</div>
        </div>
      </div>
    </div>

  <div class="wrapper">
    <section id="certs" class="certs">
      <h2 class="reg__h2 reg__h2-certs">KYNSI в подарок</h2>
      <div class="certs__big">В каком формате Вы  хотели бы приобрести подарок в KYNSI?</div>
      <div class="certs__radios">

      </div>
      <div class="certs_slider">
        <div class="certs_slider__slide" data-text="Электронный сертификат ">
          <div class="certs_slider__text">
            Электронные сертификаты KYNSI – чтобы вы могли порадовать близкого человека, даже если вы далеко или если хочется сделать кому-то приятное прямо сейчас. Электронный сертификат с вашим посланием будет отправлен в указанное вами время и непременно вызовет улыбку в момент получения и благодарность во время посещения салона KYNSI.
            {% comment %}<div class="certs_slider__text-blue">10% в подарок от KYNSI при покупке электронного сертификата до 8 марта</div>{% endcomment %}
          </div>
          <a href="https://kynsi.digift.ru/" aria-label="digift" rel="noopener" class="certs_slider__wrp certs_slider__wrp-1" target="_blank">
            <img class="certs_slider__img lazyload" src="#" data-src="/static/img/certs_img-3.jpg" alt="">
          </a>
          <a href="https://kynsi.digift.ru/" aria-label="digift" rel="noopener" target="_blank" class="button button-block_1 button-certs">Заказать электронный сертификат</a>
        </div>
        <div class="certs_slider__slide" data-text="Бумажный сертификат">
          <div class="certs_slider__text">KYNSI - это всегда праздник, поэтому сертификат в наши салоны стоит дарить близким и друзьям по любому поводу. Во время визита они сами смогут выбрать услуги по своему вкусу. Позвоните или напишите нам, и наши специалисты расскажут о возможностях приобретения нашего сертификата.</div>
          <div class="certs_slider__wrp certs_slider__wrp-2">
            <img class="certs_slider__img show_cert lazyload" src="#" data-src="/static/img/certs_img-4.jpg" alt="">
            <div class="certs_slider__info"></div>
          </div>
          <div class="button button-block_1 button-certs show_cert">Заказать бумажный сертификат</div>
        </div>
        <div class="certs_slider__slide" data-text="KYNSI BOX">
          <div class="certs_slider__text">Готовый подарок можно приобрести в каждом салоне KYNSI. Заботливые администраторы помогут Вам определиться с выбором продукции и упакуют подарок. Сделайте дорогому человеку вдвойне приятно дополнив KYNSI BOX сертификатом на услуги.</div>
          <div class="certs_slider__wrp certs_slider__wrp-3">
            <img class="certs_slider__img show_cert lazyload" src="#" data-src="/static/img/certs_img-5.jpg" alt="">
          </div>
          <div class="button button-block_1 button-certs show_box">Заказать KYNSI BOX</div>
        </div>
      </div>
    </section>

    {% include "includes/salon_slider.html" %}

    <section class="block_1">
      <div class="block_1__image animation animation_left lazyload" data-bg="/static/img/block_1__image.jpg"></div>
      <div class="block_1__right animation animation_right">
        <h2 class="block_1__h2">Попробуйте любимые услуги наших гостей</h2>
        <div class="block_1__services">
          <div class="block_1__row">Безводный пилочный маникюр с уходом до локтя <span>2900.-</span></div>
          <div class="block_1__row">Маникюр и педикюр в четыре руки со спа-уходом <span>6700.-</span></div>
          <div class="block_1__row">Стрижка женская <span>4000.-</span></div>
          <div class="block_1__row">Маникюр и укладка голивудские локоны одновременно <span>6200.-</span></div>
          <div class="block_1__row">Дневной макияж и укладка по форме <span>5400.-</span></div>
          <div class="block_1__row">Вечерний макияж и укладка локоны <span>8800.-</span></div>
        </div>
        <div class="button button-block_1 to_salons">Перейти к выбору салона</div>
      </div>
    </section>

    <section class="block_4">
      <div class="block_2__left block_2__left-4 animation animation_left">
        <h2 class="block_2__h2">Комфорт в KYNSI</h2>
        <div class="block_2__text">Удобные кресла для педикюра, в которых можно находиться часами и даже успеть посмотреть не один фильм. Персональные экраны в vip-кабинетах, а для большего уединения – наушники для просмотра, как во время педикюра, так и за маникюром.</div>
        <div class="block_2__text">Вода с лимоном и мятой, сухофрукты и сладости, чай, кофе с любым видом молока, горячее ошибори в холодную погоду, и холодное – жарким летом, утренний шот из апельсинового сока с имбирем и медом для бодрости, мороженое из кокосового молока в теплое время года, и, конечно, шампанское по пятницам. Kid friendly и dogs friendly – мы рады видеть вас в семейном кругу и сделаем так, чтобы всем было комфортно.</div>
      </div>
      <div class="block_2__image block_2__image-4 animation animation_right lazyload" data-bg="/static/img/block_2__image-4.jpg"></div>
    </section>

    <section class="reg">
      <div class="reg__wrp">
        <div class="reg__img reg__img-book animation animation_left lazyload animated" data-bg="/static/img/reg__img-book.jpg"></div>
        <div class="reg__content animation animation_right animated">
          <h2 class="reg__h2">Запись на услуги удобным для Вас способом</h2>
          <div class="reg__text">Напишите нам в Whatsapp, закажите звонок через чат на сайте или воспользуйтесь онлайн-записью. Наши специалисты предложат удобное для Вас время, расскажут о мастерах и помогут выбрать интересующую услугу. </div>
          <div class="book__wrp">
            <a href="https://api.whatsapp.com/send?phone=79252377590" aria-label="whatsapp" class="button button-block_1">Записаться в Whatsapp</a>
            <div data-call-salon-org="" class="button button-block_1 reservi_button_emulation widget">Записаться онлайн</div>
          </div>
        </div>
      </div>
    </section>

    {% include "includes/blog_slider.html" %}

    <div class="block_7 animation animation_bot" data-bg="/static/img/block_7-2.jpg">
      <div class="block_7__content">
        <div class="block_7__row_1">15<span>%</span></div>
        <div class="block_7__row_2">Запишитесь сейчас и получите скидку на все услуги салона</div>
        <div>
          <div class="block_7__row_3">Внимание!</div>
          <div class="block_7__row_4">скидка действует только для новых клиентов, в случае если вы уже записывались к нам - скидка не будет учитываться!</div>
        </div>
        <div class="show_modal button button-block_1" data-optin-slug="cvgofril3trai0xyitge">Получить скидку</div>
      </div>
    </div>

    {% include "includes/services.html" %}
    
    {% include "includes/brands.html" %}

    {% include "includes/salons.html" %}

    {% include "includes/reviews_slider.html" %}

    <div class="block_9">
      <div class="block_9__slider animation animation_bot">
        <a href="https://www.instagram.com/p/BpM7dqQHUmz/" aria-label="instagram" rel="noopener" target="_blank" class="block_9__img lazyload" data-bg="/static/img/block_9__img-1.jpg"></a>
        <a href="https://www.instagram.com/p/BsdpbuLHx2H/" aria-label="instagram" rel="noopener" target="_blank" class="block_9__img lazyload" data-bg="/static/img/block_9__img-9.jpg"></a>
        <a href="https://www.instagram.com/p/Br5Z6jTnbv-/" aria-label="instagram" rel="noopener" target="_blank" class="block_9__img lazyload" data-bg="/static/img/block_9__img-10.jpg"></a>
      </div>
      <div class="block_9__slider animation animation_bot">
        <a href="https://www.instagram.com/p/Behi9-vB28R/" aria-label="instagram" rel="noopener" target="_blank" class="block_9__img lazyload" data-bg="/static/img/block_9__img-2.jpg"></a>
        <a href="https://www.instagram.com/p/Br0nKd5HEV7/" aria-label="instagram" rel="noopener" target="_blank" class="block_9__img lazyload" data-bg="/static/img/block_9__img-11.jpg"></a>
        <a href="https://www.instagram.com/p/BruH1vxnEdJ/" aria-label="instagram" rel="noopener" target="_blank" class="block_9__img lazyload" data-bg="/static/img/block_9__img-12.jpg"></a>
      </div>
      <div class="block_9__slider animation animation_bot">
        <a href="https://www.instagram.com/p/BeXuOZQFioZ/" aria-label="instagram" rel="noopener" target="_blank" class="block_9__img lazyload" data-bg="/static/img/block_9__img-3.jpg"></a>
        <a href="https://www.instagram.com/p/BrmWPc4Hz0t/" aria-label="instagram" rel="noopener" target="_blank" class="block_9__img lazyload" data-bg="/static/img/block_9__img-13.jpg"></a>
        <a href="https://www.instagram.com/p/BqrLQwwH5vV/" aria-label="instagram" rel="noopener" target="_blank" class="block_9__img lazyload" data-bg="/static/img/block_9__img-14.jpg"></a>
      </div>
      <div class="block_9__slider animation animation_bot">
        <a href="https://www.instagram.com/p/Bp6thdXHl7L/" aria-label="instagram" rel="noopener" target="_blank" class="block_9__img lazyload" data-bg="/static/img/block_9__img-4.jpg"></a>
        <a href="https://www.instagram.com/p/BphzahZnNts/" aria-label="instagram" rel="noopener" target="_blank" class="block_9__img lazyload" data-bg="/static/img/block_9__img-15.jpg"></a>
        <a href="https://www.instagram.com/p/Bn0ze-BhuYw/" aria-label="instagram" rel="noopener" target="_blank" class="block_9__img lazyload" data-bg="/static/img/block_9__img-16.jpg"></a>
      </div>
      <div class="block_9__slider animation animation_bot">
        <a href="https://www.instagram.com/p/BdzUZJFl3Qr/" aria-label="instagram" rel="noopener" target="_blank" class="block_9__img lazyload" data-bg="/static/img/block_9__img-5.jpg"></a>
        <a href="https://www.instagram.com/p/BnTJZBMBAzz/" aria-label="instagram" rel="noopener" target="_blank" class="block_9__img lazyload" data-bg="/static/img/block_9__img-17.jpg"></a>
        <a href="https://www.instagram.com/p/Bl-Nh3Lh5hW/" aria-label="instagram" rel="noopener" target="_blank" class="block_9__img lazyload" data-bg="/static/img/block_9__img-18.jpg"></a>
      </div>
      <div class="block_9__slider animation animation_bot">
        <a href="https://www.instagram.com/p/BbuS7PFldQa/" aria-label="instagram" rel="noopener" target="_blank" class="block_9__img lazyload" data-bg="/static/img/block_9__img-6.jpg"></a>
        <a href="https://www.instagram.com/p/Bhl0uQkBjH9/" aria-label="instagram" rel="noopener" target="_blank" class="block_9__img lazyload" data-bg="/static/img/block_9__img-19.jpg"></a>
        <a href="https://www.instagram.com/p/BgV6BVvHN7E/" aria-label="instagram" rel="noopener" target="_blank" class="block_9__img lazyload" data-bg="/static/img/block_9__img-20.jpg"></a>
      </div>
      <div class="block_9__slider animation animation_bot">
        <a href="https://www.instagram.com/p/Ba6o8GIlT8-/" aria-label="instagram" rel="noopener" target="_blank" class="block_9__img lazyload" data-bg="/static/img/block_9__img-7.jpg"></a>
        <a href="https://www.instagram.com/p/BeAQrPdl1ab/" aria-label="instagram" rel="noopener" target="_blank" class="block_9__img lazyload" data-bg="/static/img/block_9__img-21.jpg"></a>
        <a href="https://www.instagram.com/p/Bdw5Ez5FqSW/" aria-label="instagram" rel="noopener" target="_blank" class="block_9__img lazyload" data-bg="/static/img/block_9__img-22.jpg"></a>
      </div>
      <div class="block_9__slider animation animation_bot">
        <a href="https://www.instagram.com/p/BcZQaB9ltB-/" aria-label="instagram" rel="noopener" target="_blank" class="block_9__img lazyload" data-bg="/static/img/block_9__img-8.jpg"></a>
        <a href="https://www.instagram.com/p/BczPTXUFABI/" aria-label="instagram" rel="noopener" target="_blank" class="block_9__img lazyload" data-bg="/static/img/block_9__img-23.jpg"></a>
        <a href="https://www.instagram.com/p/BcmcCZ8FeKh/" aria-label="instagram" rel="noopener" target="_blank" class="block_9__img lazyload" data-bg="/static/img/block_9__img-24.jpg"></a>
      </div>
    </div>

    {% include "includes/yandex_map.html" %}

  </div>

{% endblock %}