{% extends '_base.html' %}

{% block content %}
    <div class="banner lazyload" data-bg="/static/img/banner-mob.jpg">
      {% comment %} <div class="banner_warning"> Уважаемые гости! Сейчас запись онлайн работает в тестовом режиме. Если у вас не получилось записаться, пожалуйста, звоните в салон или пишите нам в WhatsApp. Приносим извинения за предоставленные неудобства</div> {% endcomment %}
      <div class="banner__video">
        <video class="banner__video lazyload" data-src="/static/video/video_comp.mp4" playsinline="" autoplay="" loop="" muted=""></video>
      </div>
      <div class="banner__wrapper">
        <div class="banner__wr banner__wr-2">
          <div class="banner__title">Для новых гостей KYNSI дарит скидку 15% на первое посещение</div>
          <div class="show_modal button button-banner" data-optin-slug="oewrrvnfegodghltcpuo">Получить скидку</div>
        </div>
        <div class="banner__wr banner__wr-1 active">
          <img class="banner__logo lazyload" src="#" data-src="/static/img/header__logo-white.svg" alt="">
          <div class="banner__text">NAIL SPA & HAIR</div>
           <div class="button button-banner widget reservi_button_emulation">Онлайн-запись</div>
        </div>
      </div>
    </div>

  <div class="wrapper">

    <section id="certs" class="certs">
      <h2 class="reg__h2 reg__h2-certs">KYNSI в подарок</h2>
      <div class="certs__big">В каком формате Вы  хотели бы приобрести подарок в KYNSI?</div>
      <div class="certs__radios">

      </div>
      <div class="certs_slider">
        <div class="certs_slider__slide" data-text="Электронный сертификат ">
          <div class="certs_slider__text">
            Электронные сертификаты KYNSI – чтобы вы могли порадовать близкого человека, даже если вы далеко или если хочется сделать кому-то приятное прямо сейчас. Электронный сертификат с вашим посланием будет отправлен в указанное вами время и непременно вызовет улыбку в момент получения и благодарность во время посещения салона KYNSI.
            {% comment %}<div class="certs_slider__text-blue">10% в подарок от KYNSI при покупке электронного сертификата до 8 марта</div>{% endcomment %}
          </div>
          <a href="https://kynsi.digift.ru/" aria-label="digift" rel="noopener" class="certs_slider__wrp certs_slider__wrp-1" target="_blank">
            <img class="certs_slider__img lazyload" src="#" data-src="/static/img/certs_img-3.jpg" alt="">
          </a>
          <a href="https://kynsi.digift.ru/" aria-label="digift" rel="noopener" target="_blank" class="button button-block_1 button-certs">Заказать электронный сертификат</a>
        </div>
        <div class="certs_slider__slide" data-text="Бумажный сертификат">
          <div class="certs_slider__text">KYNSI - это всегда праздник, поэтому сертификат в наши салоны стоит дарить близким и друзьям по любому поводу. Во время визита они сами смогут выбрать услуги по своему вкусу. Позвоните или напишите нам, и наши специалисты расскажут о возможностях приобретения нашего сертификата.</div>
          <div class="certs_slider__wrp certs_slider__wrp-2">
            <img class="certs_slider__img show_cert lazyload" src="#" data-src="/static/img/certs_img-4.jpg" alt="">
            <div class="certs_slider__info"></div>
          </div>
          <div class="button button-block_1 button-certs show_cert">Заказать бумажный сертификат</div>
        </div>
        <div class="certs_slider__slide" data-text="KYNSI BOX">
          <div class="certs_slider__text">Готовый подарок можно приобрести в каждом салоне KYNSI. Заботливые администраторы помогут Вам определиться с выбором продукции и упакуют подарок. Сделайте дорогому человеку вдвойне приятно дополнив KYNSI BOX сертификатом на услуги.</div>
          <div class="certs_slider__wrp certs_slider__wrp-3">
            <img class="certs_slider__img show_cert lazyload" src="#" data-src="/static/img/certs_img-5.jpg" alt="">
          </div>
          <div class="button button-block_1 button-certs show_box">Заказать KYNSI BOX</div>
        </div>
      </div>
    </section>

    <section class="salons_slider__wrp">
      <div class="salons_slider animation animation_bot">
        <div class="salons_slide lazyload" data-bg="/static/img/block_8__block-1.jpg"></div>
        <div class="salons_slide lazyload" data-bg="/static/img/block_8__block-2.jpg"></div>
        <div class="salons_slide lazyload" data-bg="/static/img/block_8__block-3.jpg"></div>
        <div class="salons_slide lazyload" data-bg="/static/img/salon_2-1.jpg"></div>
        <div class="salons_slide lazyload" data-bg="/static/img/salon_2-2.jpg"></div>
        <div class="salons_slide lazyload" data-bg="/static/img/salon_2-3.jpg"></div>
        <div class="salons_slide lazyload" data-bg="/static/img/salon_2-7.jpg"></div>
        <div class="salons_slide salons_slide-top_30 lazyload" data-bg="/static/img/salon_2-8.jpg"></div>
        <div class="salons_slide lazyload" data-bg="/static/img/salon_3-1.jpg"></div>
        <div class="salons_slide salons_slide-top_80 lazyload" data-bg="/static/img/salon_3-2.jpg"></div>
        <div class="salons_slide salons_slide-top_30 lazyload" data-bg="/static/img/salon_3-3.jpg"></div>
        <div class="salons_slide lazyload" data-bg="/static/img/salon_3-5.jpg"></div>
      </div>
      <h2 class="salons_slider__h2 animation animation_bot">KYNSI – это три салона, расположенных в самых знаковых местах Москвы: Патриаршие пруды, Петровка и Москва Сити.</h2>
      <div class="salons_slider__text animation animation_bot">Команда высокопрофессиональных мастеров по маникюру, cтилистов и визажистов сделает ваше пребывание в KYNSI максимально безопасным и комфортным.</div>
    </section>

    <section class="block_1">
      <div class="block_1__image animation animation_left lazyload" data-bg="/static/img/block_1__image.jpg"></div>
      <div class="block_1__right animation animation_right">
        <h2 class="block_1__h2">Попробуйте любимые услуги наших гостей</h2>
        <div class="block_1__services">
          <div class="block_1__row">Безводный пилочный маникюр с уходом до локтя <span>2900.-</span></div>
          <div class="block_1__row">Маникюр и педикюр в четыре руки со спа-уходом <span>6700.-</span></div>
          <div class="block_1__row">Стрижка женская <span>4000.-</span></div>
          <div class="block_1__row">Маникюр и укладка голивудские локоны одновременно <span>6200.-</span></div>
          <div class="block_1__row">Дневной макияж и укладка по форме <span>5400.-</span></div>
          <div class="block_1__row">Вечерний макияж и укладка локоны <span>8800.-</span></div>
        </div>
        <div class="button button-block_1 to_salons">Перейти к выбору салона</div>
      </div>
    </section>

    <section class="block_4">
      <div class="block_2__left block_2__left-4 animation animation_left">
        <h2 class="block_2__h2">Комфорт в KYNSI</h2>
        <div class="block_2__text">Удобные кресла для педикюра, в которых можно находиться часами и даже успеть посмотреть не один фильм. Персональные экраны в vip-кабинетах, а для большего уединения – наушники для просмотра, как во время педикюра, так и за маникюром.</div>
        <div class="block_2__text">Вода с лимоном и мятой, сухофрукты и сладости, чай, кофе с любым видом молока, горячее ошибори в холодную погоду, и холодное – жарким летом, утренний шот из апельсинового сока с имбирем и медом для бодрости, мороженое из кокосового молока в теплое время года, и, конечно, шампанское по пятницам. Kid friendly и dogs friendly – мы рады видеть вас в семейном кругу и сделаем так, чтобы всем было комфортно.</div>
      </div>
      <div class="block_2__image block_2__image-4 animation animation_right lazyload" data-bg="/static/img/block_2__image-4.jpg"></div>
    </section>

    <section class="reg">
      <div class="reg__wrp">
        <div class="reg__img reg__img-book animation animation_left lazyload animated" data-bg="/static/img/reg__img-book.jpg"></div>
        <div class="reg__content animation animation_right animated">
          <h2 class="reg__h2">Запись на услуги удобным для Вас способом</h2>
          <div class="reg__text">Напишите нам в Whatsapp, закажите звонок через чат на сайте или воспользуйтесь онлайн-записью. Наши специалисты предложат удобное для Вас время, расскажут о мастерах и помогут выбрать интересующую услугу. </div>
          <div class="book__wrp">
            <a href="https://api.whatsapp.com/send?phone=79252377590" aria-label="whatsapp" class="button button-block_1">Записаться в Whatsapp</a>
            <div data-call-salon-org="" class="button button-block_1 reservi_button_emulation widget">Записаться онлайн</div>
          </div>
        </div>
      </div>
    </section>

    <div id="about" class="block_3">
      <div class="block_3__slider animation animation_bot">
        <article class="block_3__slide">
          <div class="block_3__image lazyload" data-bg="/static/img/block_3__image-1.jpg"></div>
          <div class="block_3__content">
            <h2 class="block_3__h2">NAIL SPA & HAIR</h2>
            <div class="block_3__text">KYNSI – это не просто салон, это СПА для рук и ног, а также полный спектр услуг за волосами. В основе нашей концепции экологичный подход к услугам и к окружающей среде. Это прослеживается как в самом оформлении пространства с использованием дерева и зелени, так и в безводном маникюре.</div>
          </div>
        </article>
        <article class="block_3__slide">
          <div class="block_3__image lazyload" data-bg="/static/img/block_3__image-2.jpg"></div>
          <div class="block_3__content">
            <h2 class="block_3__h2">Ручная работа</h2>
            <div class="block_3__text">Австралийская система пилочного маникюра – самый безопасный и при этом очень приятный способ обработки ногтя и ухода за руками. Одноразовые пилочки для каждого гостя, которые он при желании может забрать с собой. Это самая щадящая и атравматичная обработка, за счет нее кутикула растет медленнее.</div>
          </div>
        </article>
        <article class="block_3__slide">
          <div class="block_3__image lazyload" data-bg="/static/img/block_3__image-3.jpg"></div>
          <div class="block_3__content">
            <h2 class="block_3__h2">Премиальные бренды</h2>
            <div class="block_3__text">В KYNSI роскошная коллекция уходов, на таких брендах как St.Barth, Elemis, La Ric и Christina Fitzerald. В уходе до 8-ми средств, он включает в себя омовение рук и ног, пилинг, маску или крем, масло для кутикулы.</div>
            <div class="block_3__text">У каждого бренда есть свои приятные ритуальные моменты – от поджигания свечи и массажа ракушками до арома-воротника на плечи, для расслабления и прогревания плеч.</div>
          </div>
        </article>
        <article class="block_3__slide">
          <div class="block_3__image lazyload" data-bg="/static/img/block_3__image-4.jpg"></div>
          <div class="block_3__content">
            <h2 class="block_3__h2">Академия KYNSI</h2>
            <div class="block_3__text">Каждый новый мастер проходит многоступенчатую систему обучения, вне зависимости от имеющего опыта. Мы обучаем пилочному маникюру и педикюру,  массажу рук и ног, правильному выполнению уходов на четырех брендах, а также как правильно покрывать ногти лаком и гелем.  Мастер сдает сначала теорию, потом несколько зачетов и экзаменов на практике. До тех пор, пока он не сдаст все тесты и не докажет, что он готов к работе с гостем.</div>
          </div>
        </article>
        <div class="block_3__slide">
          <div class="block_3__image lazyload" data-bg="/static/img/block_3__image-5.jpg"></div>
          <div class="block_3__content">
            <div class="block_3__text">При обучении стилистов, у нас схожая система обучения, которая дополнена большим количеством мастер-классов от брендов на которых мы работаем по окрашиванию и уходам, а также дополнительные тренинги по укладкам, прическам и стрижкам.</div>
          </div>
        </div>
      </div>
    </div>

    <div class="block_7 animation animation_bot" data-bg="/static/img/block_7-2.jpg">
      <div class="block_7__content">
        <div class="block_7__row_1">15<span>%</span></div>
        <div class="block_7__row_2">Запишитесь сейчас и получите скидку на все услуги салона</div>
        <div>
          <div class="block_7__row_3">Внимание!</div>
          <div class="block_7__row_4">скидка действует только для новых клиентов, в случае если вы уже записывались к нам - скидка не будет учитываться!</div>
        </div>
        <div class="show_modal button button-block_1" data-optin-slug="cvgofril3trai0xyitge">Получить скидку</div>
      </div>
    </div>

    <section id="services" class="block_5">
      <h2 class="block_5__h2 animation animation_left">Услуги</h2>
      <div class="block_5__name animation animation_left">Услуги по уходу за волосами и лицом только в KYNSI на Патриарших прудах и в Москва-Сити</div>
      {% comment %} <div class="block_5__top">
        <div class="block_5__name active">KYNSI на Патриарших</div>
        <div class="block_5__name">KYNSI на Петровке</div>
        <div class="block_5__name">KYNSI в Москва Сити</div>
      </div> {% endcomment %}
      <div>
        <div class="block_5__wrp active">
          <div class="block_1__services block_1__services-5 animation animation_bot">
            <div class="block_5__img lazyload" data-bg="/static/img/block_5__img-1.jpg"></div>
            <div class="block_1__title">Маникюры</div>
            <div class="block_5__hide">
              <div class="block_1__semi_title">МАНИКЮР "БАЗОВЫЙ УХОД"</div>
              <div class="block_1__row">Christina Fitzgerald «Ultimate» <span>2900.-</span></div>
              <div class="block_1__row">Lа Ric «Аромапутешествие» <span>2900.-</span></div>
              <div class="block_1__row">La Ric «Homme» <span>2900.-</span></div>
              <div class="block_1__row">СТИЛЬ/ФОРМА/БЛЕСК <span>1800.-</span></div>
              <div class="block_1__row">МАНИКЮР ДЕТСКИЙ (до 7 лет) <span>1600.-</span></div>
              <div class="block_1__semi_title">МАНИКЮР "ИНТЕНСИВНЫЙ УХОД"</div>
              <div class="block_1__row">Elemis «Глубокое увлажнение»  <span>3500.-</span></div>
              <div class="block_1__row">St.Barth «Карибское путешествие» <span>3500.-</span></div>
              <div class="block_1__row">La Ric «Золотое сияние» <span>3500.-</span></div>
            </div>
          </div>
          <div class="block_1__services block_1__services-5 animation animation_bot">
            <div class="block_5__img lazyload" data-bg="/static/img/block_5__img-2.jpg"></div>
            <div class="block_1__title">Педикюры</div>
            <div class="block_5__hide">
              <div class="block_1__semi_title">ПЕДИКЮР «БАЗОВЫЙ УХОД»</div>
              <div class="block_1__row">Christina Fitzgerald «Ultimate» <span>3800.-</span></div>
              <div class="block_1__row">Lа Ric «Аромапутешествие» <span>3800.-</span></div>
              <div class="block_1__row">La Ric «Homme» <span>3800.-</span></div>
              <div class="block_1__row">СТИЛЬ/ФОРМА/БЛЕСК <span>2100.-</span></div>
              <div class="block_1__row">ПЕДИКЮР ДЕТСКИЙ (до 7 лет) <span>2000.-</span></div>
              <div class="block_1__semi_title">ПЕДИКЮР "ИНТЕНСИВНЫЙ УХОД"</div>
              <div class="block_1__row">Elemis «Глубокое увлажнение» <span>4500.-</span></div>
              <div class="block_1__row">St.Barth «Карибское путешествие» <span>4500.-</span></div>
              <div class="block_1__row">La Ric «Золотое сияние» <span>4500.-</span></div>
            </div>
          </div>
          <div class="block_1__services block_1__services-5 animation animation_bot">
            <div class="block_5__img lazyload" data-bg="/static/img/block_5__img-3.jpg"></div>
            <div class="block_1__title">Покрытия и ремонт ногтей</div>
            <div class="block_5__hide">
              <div class="block_1__row">ПОКРЫТИЕ ULTRA GEL <span>1800.-</span></div>
              <div class="block_1__row">АВТОРСКИЙ ЭКСПРЕСС-УХОД <span>1500.-</span></div>
              <div class="block_1__row">ЛЕЧЕБНЫЙ УХОД ДЛЯ НОГТЕВОЙ ПЛАСТИНЫ STRONG <span>1300.-</span></div>
              <div class="block_1__row">ФРЕНЧ ПОКРЫТИЕ <span>800.-</span></div>
              <div class="block_1__row">ДИЗАЙН ОДНОГО НОГТЯ ПРОСТОЙ <span>100.-</span></div>
              <div class="block_1__row">ДИЗАЙН ОДНОГО НОГТЯ СЛОЖНЫЙ <span>200.-</span></div>
              <div class="block_1__row">РЕМОНТ И УКРЕПЛЕНИЕ 1-ГО НОГТЯ <span>200.-</span></div>
              <div class="block_1__row">ПОКРЫТИЕ CHRISTINA FITZGHERALD <span>1000.-</span></div>
              <div class="block_1__row">ПОКРЫТИЕ SMITH&CULT <span>1000.-</span></div>
              <div class="block_1__row">ПОКРЫТИЕ ГЕЛЬ-ЛАК <span>1800.-</span></div>
              <div class="block_1__row">СНЯТИЕ + ПОКРЫТИЕ ГЕЛЬ-ЛАК <span>2300.-</span></div>
              <div class="block_1__row">ЛЕЧЕБНОЕ ПОКРЫТИЕ IBX <span>1150.-</span></div>
            </div>
          </div>
          <div class="block_1__services block_1__services-5 animation animation_bot">
            <div class="block_5__img lazyload" data-bg="/static/img/block_5__img-5.jpg"></div>
            <div class="block_1__title block_1__title-hairs">Волосы</div>
            <div class="block_5__hide">
              <div class="block_1__semi_title">СТРИЖКИ</div>
              <div class="block_1__row">BUSINESS MAN (МУЖСКАЯ СТРИЖКА - 60 МИН) <span>3500.-</span></div>
              <div class="block_1__row">LIGHT (СТРИЖКА ЧЕЛКИ - 30 МИН) <span>1500.-</span></div>
              <div class="block_1__row">BUSINESS (СТРИЖКА ЖЕНСКАЯ, ВХОДИТ СУШКА ВОЛОС - 60 МИН) <span>4000.-</span></div>
              <div class="block_1__row">EASY MAN (СТРИЖКА МУЖСКАЯ ТРИММЕРОМ - 60 МИН) <span>2000.-</span></div>
              <div class="block_1__row block_1__row-no_border">Cтрижка детей от 6 лет</div>
              <div class="block_1__semi_title">УКЛАДКИ</div>
              <div class="block_1__row">EASY (СУШКА ВОЛОС - 30 МИН) <span>1500.-</span></div>
              <div class="block_1__row">BUSINESS (УКЛАДКА ФЕНОМ ПО ФОРМЕ С ОБЪЕМОМ - 45 МИН) <span>2500.-</span></div>
              <div class="block_1__row">BUSINESS LONG (ЛОКОНЫ НА БРАШИНГ С ОБЪЕМОМ - 60 МИН) <span>3300.-</span></div>
              <div class="block_1__row">LIFE STYLE LIGHT (ЛОКОНЫ НА БРАШИНГ НА НАРАЩЕННЫХ ВОЛОСАХ ИЛИ ПРИ ДЛИНЕ БОЛЕЕ 40 СМ - 90 МИН) <span>3800.-</span></div>
              <div class="block_1__row">LIFE STYLE (ВЕЧЕРНЯЯ ПРИЧЕСКА, ВХОДИТ МЫТЬЕ ВОЛОС - 90 МИНУТ) <span>4900.-</span></div>
            </div>
          </div>
          <div class="block_1__services block_1__services-5 block_1__services-hairs animation animation_bot">
            <div class="block_5__img lazyload" data-bg="/static/img/block_5__img-8.jpg"></div>
            <div class="block_1__title block_1__title-hairs">ОКРАШИВАНИЕ COLOR.ME by KEVIN MURPHY</div>
            <div class="block_5__hide">
              <div class="block_1__row">Корни (до 2-х см.). <span>5500.-</span></div>
              <div class="block_1__row">Базовый цвет от Color.me <span>10200.-</span></div>
              <div class="block_1__semi_title">БАЛАНС ЦВЕТА ОТ COLOR.ME (Окрашивание корней и обновление цвета по длине)</div>
              <div class="block_1__row">Волосы выше плеч <span>7300.-</span></div>
              <div class="block_1__row">Ниже плеч/до лопаток <span>8400.-</span></div>
              <div class="block_1__semi_title">REFRESH ОТ COLOR.ME  (обновление цвета по длине, придание блеска)</div>
              <div class="block_1__row">Волосы выше плеч <span>4200.-</span></div>
              <div class="block_1__row">Ниже плеч/до лопаток <span>6600.-</span></div>
              <div class="block_1__semi_title">Цветокоррекция</div>
              <div class="block_1__row">Обычная <span>3800.-</span></div>
              <div class="block_1__row">Сложная <span>от 11000 .-</span></div>
              <div class="block_1__semi_title">FREE HAND (Открытая техника осветления. Позволяет добиться мягких эффектов на волосах. Создаёт рельеф и визуальный объем.) время выполнение до 3-х часов.</div>
              <div class="block_1__row">Light (сегмент) <span>3000.-</span></div>
              <div class="block_1__row">Business волосы выше плеч <span>11000.-</span></div>
              <div class="block_1__row">Business ниже плеч/до лопаток <span>14000.-</span></div>
              <div class="block_1__semi_title">АВТОРСКОЕ ОКРАШИВАНИЕ (Закрытые техники осветления, Шатуш, Мелирование, Airtouch. В эту услугу включена Защита Olaplex для сохранения здоровья Ваших волос)</div>
              <div class="block_1__row">Волосы выше плеч <span>16500.-</span></div>
              <div class="block_1__row">Ниже плеч/до лопаток <span>20000.-</span></div>
            </div>
          </div>
          <div class="block_1__services block_1__services-5 block_1__services-hairs animation animation_bot">
            <div class="block_5__img lazyload" data-bg="/static/img/block_5__img-28.jpg"></div>
            <div class="block_1__title block_1__title-hairs">Окрашивание Goldwell</div>
            <div class="block_5__hide">
              <div class="block_1__semi_title">Окрашивание TOPCHIC 60-90 минут</div>
              <div class="block_1__row">Корни <span>6000.-</span></div>
              <div class="block_1__row">Волосы до плеч <span>8500.-</span></div>
              <div class="block_1__row">Ниже плеч-до лопаток <span>9000.-</span></div>
              <div class="block_1__semi_title">Фитоламинирование волос  Colorance  40минут</div>
              <div class="block_1__row">Волосы до плеч <span>7500.-</span></div>
              <div class="block_1__row">Ниже плеч-до лопаток <span>8200.-</span></div>
              <div class="block_1__semi_title">Color Balancing (баланс цвета )</div>
              <div class="block_1__row">Волосы до плеч <span>8500.-</span></div>
              <div class="block_1__row">Ниже плеч-до лопаток <span>9000.-</span></div>
              <div class="block_1__semi_title">Экспресс-тонирование Colorance 20 минут</div>
              <div class="block_1__row">Волосы до плеч <span>6000.-</span></div>
              <div class="block_1__row">Ниже плеч-до лопаток <span>6700.-</span></div>
              <div class="block_1__semi_title">Элюминирование волос Elumen 75 минут</div>
              <div class="block_1__row">Волосы до плеч <span>7300.-</span></div>
              <div class="block_1__row">Ниже плеч-до лопаток <span>8600.-</span></div>
              <div class="block_1__semi_title">Осветление</div>
              <div class="block_1__row">Корни <span>4700.-</span></div>
              <div class="block_1__row">Волосы до плеч <span>7000.-</span></div>
              <div class="block_1__row">Ниже плеч-до лопаток <span>8300.-</span></div>
              <div class="block_1__semi_title">Шелковое осветление Silk Lift</div>
              <div class="block_1__row">Волосы до  плеч <span>7200.-</span></div>
              <div class="block_1__row">Ниже плеч-до лопаток <span>8500.-</span></div>
              <div class="block_1__semi_title">Экспресс-коррекция New Blond</div>
              <div class="block_1__row">Корни <span>3000.-</span></div>
              <div class="block_1__row">Волосы до  плеч <span>7400.-</span></div>
              <div class="block_1__row">Ниже плеч-до лопаток <span>8000.-</span></div>
            </div>
          </div>
          <div class="block_1__services block_1__services-5 animation animation_bot">
            <div class="block_5__img lazyload" data-bg="/static/img/block_5__img-4.jpg" ></div>
            <div class="block_1__title">Макияж</div>
            <div class="block_5__hide">
              <div class="block_1__row">ДНЕВНОЙ <span>2500.-</span></div>
              <div class="block_1__row">ВЕЧЕРНИЙ <span>5500.-</span></div>
              <div class="block_1__row">ВИЗАЖ ОТДЕЛЬНЫХ ЗОН <span>500.-</span></div>
              <div class="block_1__row">КОРРЕКЦИЯ И ОКРАС БРОВЕЙ+УХОД HIGH DEFINITION <span>2500.-</span></div>
              <div class="block_1__row">ОКРАШИВАНИЕ БРОВЕЙ HIGH DEFINITION <span>1600.-</span></div>
              <div class="block_1__row">НАРАЩИВАНИЕ РЕСНИЦ <span>6000.-</span></div>
            </div>
          </div>
          <div class="block_1__services block_1__services-5 animation animation_bot">
            <div class="block_5__img lazyload" data-bg="/static/img/block_5__img-10.jpg" ></div>
            <div class="block_1__title block_1__title-carry">Уходы для волос</div>
            <div class="block_5__hide">
              <div class="block_1__semi_title">Уходы для волос KEVIN MURPHY</div>
              <div class="block_1__row">Treat.me - сила <span>4000.-</span></div>
              <div class="block_1__row">Treat.me - увлажнение <span>4000.-</span></div>
              <div class="block_1__row">Treat.me - анти-эйдж <span>4000.-</span></div>
              <div class="block_1__row">Treat.me - уплотнение <span>4000.-</span></div>
              <div class="block_1__semi_title">Обновление и поддержание цвета FABULOSO</div>
              <div class="block_1__row">Обновление цвета <span>3500.-</span></div>
              <div class="block_1__row">Наполнение цветом <span>3500.-</span></div>
              <div class="block_1__row">Цвета пастели <span>3500.-</span></div>
              <div class="block_1__row">Цветовой акцент <span>3500.-</span></div>
              <div class="block_1__row">Сияние цвета <span>3500.-</span></div>
              <div class="block_1__row">Интенсивный блеск-уход <span>2500.-</span></div>
            </div>
          </div>
          <div class="block_1__services block_1__services-carry block_1__services-5 animation animation_bot">
            <div class="block_5__img lazyload" data-bg="/static/img/block_5__img-11.jpg" ></div>
            <div class="block_1__title block_1__title-carry">Уходы для волос</div>
            <div class="block_5__hide">
              <div class="block_1__semi_title">Уходы для волос DSD de Luxe</div>
              <div class="block_1__row">Уход против выпадения <br /> Курс лечения 3 месяца <span>4000.-</span></div>
              <div class="block_1__row">Уход против перхоти <br /> применение 2 раза в неделю до полного исчезновения  <span>3000.-</span></div>
              <div class="block_1__row">Уход сталь и шелк <span>3000.-</span></div>
              <div class="block_1__row">Уход для светлых волос и поврежденных после обесывечивания <span>3000.-</span></div>
              <div class="block_1__row">Уход для мужчин против выпадения «opium» <span>2500.-</span></div>
              <div class="block_1__semi_title">KERASILK от Goldwell</div>
              <div class="block_1__row">KERASILK CONTROL <span>4500.-</span></div>
              <div class="block_1__row">KERASILK RECONSTRUCT <span>5500.-</span></div>
              <div class="block_1__row">KERASILK RECONSTRUCT TOUCH-up <span>3500.-</span></div>
              <div class="block_1__row">KERASILK REPOWER <span>5700.-</span></div>
              <div class="block_1__row">KERASILK REVITALIZE <span>6000.-</span></div>
            </div>
          </div>
          <div class="block_1__services block_1__services-5 animation animation_bot">
            <div class="block_5__img lazyload" data-bg="/static/img/block_5__img-6.jpg"></div>
            <div class="block_1__title">ДЕПИЛЯЦИЯ ВОСКОМ LYCON</div>
            <div class="block_5__hide">
              <div class="block_1__row">ДЕПИЛЯЦИЯ НОГ (ДО КОЛЕНА) <span>1300.-</span></div>
              <div class="block_1__row">ДЕПИЛЯЦИЯ РУК (ДО ЛОКТЯ) <span>1300.-</span></div>
              <div class="block_1__row">ДЕПИЛЯЦИЯ РУК (ПОЛНОСТЬЮ) <span>1600.-</span></div>
            </div>
          </div>
        </div>
        {% comment %} <div class="block_5__wrp">
          <div class="block_1__services block_1__services-5">
            <div class="block_1__title">КОЛЛЕКЦИЯ МАНИКЮР-УХОДОВ С ПОКРЫТИЕМ ЛАКА</div>
            <div class="block_1__semi_title">МАНИКЮР "БАЗОВЫЙ УХОД"</div>
            <div class="block_1__row">LA RIC "БИЗНЕС" <span>2600.-</span></div>
            <div class="block_1__row">CHRISTINA FITZGHERALD "БЕЗВОДНЫЙ" <span>2600.-</span></div>
            <div class="block_1__row">LA RIC "МУЖСКОЙ" <span>2600.-</span></div>
            <div class="block_1__row">ДЕТСКИЙ МАНИКЮР (ДО 7 ЛЕТ) <span>1500.-</span></div>
            <div class="block_1__semi_title">МАНИКЮР "ИНТЕНСИВНЫЙ УХОД"</div>
            <div class="block_1__row">ST.BARTH "КАРИБСКИЙ" <span>3500.-</span></div>
            <div class="block_1__row">ELEMIS "УВЛАЖНЕНИЕ" <span>3500.-</span></div>
            <div class="block_1__row">LA RIC " ЗОЛОТОЕ СИЯНИЕ" <span>3500.-</span></div>
          </div>
          <div class="block_1__services block_1__services-5">
            <div class="block_1__title">КОЛЛЕКЦИЯ ПЕДИКЮР-УХОДОВ С ПОКРЫТИЕМ ЛАКА</div>
            <div class="block_1__semi_title">ПЕДИКЮР "БАЗОВЫЙ УХОД"</div>
            <div class="block_1__row">LA RIC "БИЗНЕС" <span>3500.-</span></div>
            <div class="block_1__row">CHRISTINA FITZGHERALD "БЕЗВОДНЫЙ" <span>3500.-</span></div>
            <div class="block_1__row">LA RIC "МУЖСКОЙ" <span>3500.-</span></div>
            <div class="block_1__row">ДЕТСКИЙ ПЕДИКЮР (ДО 7 ЛЕТ) <span>1500.-</span></div>
            <div class="block_1__semi_title">ПЕДИКЮР "ИНТЕНСИВНЫЙ УХОД"</div>
            <div class="block_1__row">ELEMIS "УВЛАЖНЕНИЕ" <span>4500.-</span></div>
            <div class="block_1__row">LA RIC " ЗОЛОТОЕ СИЯНИЕ" <span>4500.-</span></div>
            <div class="block_1__row">ST.BARTH "КАРИБСКИЙ" <span>4500.-</span></div>
          </div>
          <div class="block_1__services block_1__services-5">
            <div class="block_1__title">ДЕПИЛЯЦИЯ ВОСКОМ</div>
            <div class="block_1__row">НОГИ ПОЛНОСТЬЮ <span>2800.-</span></div>
            <div class="block_1__row">РУКИ ДО ЛОКТЯ <span>1300.-</span></div>
            <div class="block_1__row">РУКИ ПОЛНОСТЬЮ <span>1600.-</span></div>
            <div class="block_1__row">НОГИ ДО КОЛЕНА <span>1300.-</span></div>
            <div class="block_1__row">НОГИ ВЫШЕ КОЛЕНА <span>1700.-</span></div>
          </div>
          <div class="block_1__services block_1__services-5">
            <div class="block_1__title">ВИЗАЖ</div>
            <div class="block_1__row">КОРРЕКЦИЯ БРОВЕЙ <span>1000.-</span></div>
            <div class="block_1__row">ОКРАС БРОВЕЙ <span>900.-</span></div>
            <div class="block_1__row">ОКРАС РЕСНИЦ <span>900.-</span></div>
            <div class="block_1__row">КОРРЕКЦИЯ И ОКРАС БРОВЕЙ <span>1700.-</span></div>
          </div>
          <div class="block_1__services block_1__services-5">
            <div class="block_1__title">МАССАЖ (30 МИНУТ)</div>
            <div class="block_1__row">МАССАЖ "ЛЕГКОСТЬ НОГ" <span>2500.-</span></div>
            <div class="block_1__row">МАССАЖ НОГ КЛАССИЧЕСКИЙ <span>2000.-</span></div>
            <div class="block_1__row">МАССАЖ РУК КЛАССИЧЕСКИЙ <span>1500.-</span></div>
            <div class="block_1__row">МАССАЖ ГОРЯЧИМИ РАКОВИНАМИ АФРОДИТЫ <span>2500.-</span></div>
          </div>
        </div>
        <div class="block_5__wrp">
          <div class="block_1__services block_1__services-5">
            <div class="block_1__title">КОЛЛЕКЦИЯ МАНИКЮР-УХОДОВ С ПОКРЫТИЕМ ЛАКА</div>
            <div class="block_1__semi_title">МАНИКЮР "БАЗОВЫЙ УХОД"</div>
            <div class="block_1__row">LA RIC "БИЗНЕС" <span>2600.-</span></div>
            <div class="block_1__row">CHRISTINA FITZGHERALD "БЕЗВОДНЫЙ" <span>2600.-</span></div>
            <div class="block_1__row">LA RIC "МУЖСКОЙ" <span>2600.-</span></div>
            <div class="block_1__row">ДЕТСКИЙ МАНИКЮР (ДО 7 ЛЕТ) <span>1100.-</span></div>
            <div class="block_1__semi_title">МАНИКЮР "ИНТЕНСИВНЫЙ УХОД"</div>
            <div class="block_1__row">ST.BARTH "КАРИБСКИЙ" <span>3500.-</span></div>
            <div class="block_1__row">LA RIC " ЗОЛОТОЕ СИЯНИЕ" <span>3500.-</span></div>
            <div class="block_1__row">ELEMIS "УВЛАЖНЕНИЕ" <span>3500.-</span></div>
          </div>
          <div class="block_1__services block_1__services-5">
            <div class="block_1__title">КОЛЛЕКЦИЯ ПЕДИКЮР-УХОДОВ С ПОКРЫТИЕМ ЛАКА</div>
            <div class="block_1__semi_title">ПЕДИКЮР "БАЗОВЫЙ УХОД"</div>
            <div class="block_1__row">CHRISTINA FITZGHERALD "БЕЗВОДНЫЙ" <span>3500.-</span></div>
            <div class="block_1__row">ДЕТСКИЙ ПЕДИКЮР (ДО 7 ЛЕТ) <span>1500.-</span></div>
            <div class="block_1__row">LA RIC "МУЖСКОЙ" <span>3500.-</span></div>
            <div class="block_1__row">LA RIC "БИЗНЕС" <span>3500.-</span></div>
            <div class="block_1__semi_title">ПЕДИКЮР "ИНТЕНСИВНЫЙ УХОД"</div>
            <div class="block_1__row">ST.BARTH "КАРИБСКИЙ" <span>4500.-</span></div>
            <div class="block_1__row">LA RIC " ЗОЛОТОЕ СИЯНИЕ" <span>4500.-</span></div>
            <div class="block_1__row">ELEMIS "УВЛАЖНЕНИЕ" <span>4500.-</span></div>
          </div>
          <div class="block_1__services block_1__services-5">
            <div class="block_1__title">ПОКРЫТИЯ</div>
            <div class="block_1__row">ЛЕЧЕБНОЕ ПОКРЫТИЕ IBX <span>1150.-</span></div>
            <div class="block_1__row">ФРЕНЧ ЛУННЫЙ <span>800.-</span></div>
            <div class="block_1__row">СНЯТИЕ SHELLAC <span>500.-</span></div>
            <div class="block_1__row">ФРЕНЧ ПОКРЫТИЕ <span>600.-</span></div>
            <div class="block_1__row">ДИЗАЙН ОДНОГО НОГТЯ <span>100.-</span></div>
            <div class="block_1__row">РЕМОНТ И УКРЕПЛЕНИЕ 1-ОГ НОГТЯ <span>200.-</span></div>
            <div class="block_1__row">ПОКРЫТИЕ LUXIO <span>1800.-</span></div>
            <div class="block_1__row">СНЯТИЕ+ДАЛЬНЕЙШЕЕ ПОКРЫТИЕ SHELLAC <span>2300.-</span></div>
          </div>
          <div class="block_1__services block_1__services-5">
            <div class="block_1__title">ВИЗАЖ</div>
            <div class="block_1__row">КОРРЕКЦИЯ БРОВЕЙ <span>1000.-</span></div>
            <div class="block_1__row">КОРРЕКЦИЯ И ОКРАС БРОВЕЙ <span>1700.-</span></div>
            <div class="block_1__row">ДНЕВНОЙ МАКИЯЖ <span>2500.-</span></div>
            <div class="block_1__row">ВИЗАЖ ОТДЕЛЬНЫХ ЗОН <span>500.-</span></div>
            <div class="block_1__row">ОКРАС БРОВЕЙ <span>900.-</span></div>
            <div class="block_1__row">ОКРАС РЕСНИЦ <span>900.-</span></div>
            <div class="block_1__row">ВЕЧЕРНИЙ МАКИЯЖ <span>5500.-</span></div>
          </div>
          <div class="block_1__services block_1__services-5">
            <div class="block_1__title">ДЕПИЛЯЦИЯ</div>
            <div class="block_1__row">НОГИ ДО КОЛЕНА <span>1300.-</span></div>
            <div class="block_1__row">НОГИ ВЫШЕ КОЛЕНА <span>1700.-</span></div>
            <div class="block_1__row">НОГИ ПОЛНОСТЬЮ <span>2800.-</span></div>
            <div class="block_1__row">РУКИ ДО ЛОКТЯ <span>1300.-</span></div>
            <div class="block_1__row">РУКИ ПОЛНОСТЬЮ <span>1600.-</span></div>
          </div>
          <div class="block_1__services block_1__services-5">
            <div class="block_1__title">МАССАЖ (30 МИНУТ)</div>
            <div class="block_1__row">РУКИ <span>1500.-</span></div>
            <div class="block_1__row">НОГИ <span>2000.-</span></div>
          </div>
          <div class="block_1__services block_1__services-5">
            <div class="block_1__title">РЕШЕНИЯ ДЛЯ ВОЛОС</div>
            <div class="block_1__semi_title">УКЛАДКИ</div>
            <div class="block_1__row">BUSINESS (50 МИНУТ) <span>2000.-</span></div>
            <div class="block_1__row">EASY (35 МИНУТ) <span>1500.-</span></div>
            <div class="block_1__row">BUSINESS LONG (60 МИНУТ) <span>2900.-</span></div>
            <div class="block_1__row">LIFE STYLE LIGHT (С НАРОЩЕННЫМИ) <span>3500.-</span></div>
            <div class="block_1__row">LIFE STYLE (90 МИНУТ) <span>4500.-</span></div>
            <div class="block_1__semi_title">СТРИЖКИ</div>
            <div class="block_1__row">LIGHT (15 МИНУТ) <span>1500.-</span></div>
            <div class="block_1__row">EASY (40 МИНУТ) <span>2000.-</span></div>
            <div class="block_1__row">BUSINESS (60 МИНУТ) <span>3500.-</span></div>
            <div class="block_1__row">SPECIAL STYLE (90 МИНУТ) <span>4500.-</span></div>
            <div class="block_1__row">EASY MAN <span>2000.-</span></div>
            <div class="block_1__row">BUSINESS MAN <span>3000.-</span></div>
            <div class="block_1__semi_title">УХОДЫ ROLLAND</div>
            <div class="block_1__row">ДЛЯ ГЛАДКОСТИ ВОЛОС <span>1500.-</span></div>
            <div class="block_1__row">ПРОТИВ СУХОЙ И ЖИРНОЙ ПЕРХОТИ <span>3800.-</span></div>
            <div class="block_1__row">СПЕЦИАЛЬНЫЙ УХОД ЗА СВЕТЛЫМИ ВОЛОСАМИ <span>1800.-</span></div>
            <div class="block_1__row">ВОССТАНОВЛЕНИЕ ЦВЕТА <span>1800.-</span></div>
            <div class="block_1__row">ЛУБОКОЕ УВЛАЖНЕНИЕ ДЛЯ СУХИХ И СЕКУЩИХСЯ ВОЛОС <span>2800.-</span></div>
            <div class="block_1__row">ПРОТИВ ВЫПАДЕНИЯ ВОЛОС <span>2800.-</span></div>
          </div>
        </div> {% endcomment %}
      </div>
    </section>

    <section class="block_6 animation animation_bot">
      <h2 class="block_6__h2">Бренды, с которыми мы работаем</h2>
      <div class="block_6__slider">
        <div class="block_6__slide">
          <img class="lazyload" src="#" data-src="/static/img/block_6__slide-1.png" alt="">
        </div>
        <div class="block_6__slide">
          <img class="lazyload" src="#" data-src="/static/img/block_6__slide-2.png" alt="">
        </div>
        <div class="block_6__slide">
          <img class="lazyload" src="#" data-src="/static/img/block_6__slide-3.png" alt="">
        </div>
        <div class="block_6__slide">
          <img class="lazyload" src="#" data-src="/static/img/block_6__slide-4.png" alt="">
        </div>
        <div class="block_6__slide">
          <img class="lazyload" src="#" data-src="/static/img/block_6__slide-5.png" alt="">
        </div>
        <div class="block_6__slide">
          <img class="lazyload" src="#" data-src="/static/img/block_6__slide-6.png" alt="">
        </div>
        <div class="block_6__slide">
          <img class="lazyload" src="#" data-src="/static/img/block_6__slide-7.png" alt="">
        </div>
        <div class="block_6__slide">
          <img class="lazyload" src="#" data-src="/static/img/block_6__slide-8.png" alt="">
        </div>
        <div class="block_6__slide">
          <img class="lazyload" src="#" data-src="/static/img/block_6__slide-9.png" alt="">
        </div>
        <div class="block_6__slide">
          <img class="lazyload" src="#" data-src="/static/img/block_6__slide-10.png" alt="">
        </div>
        <div class="block_6__slide">
          <img class="lazyload" src="#" data-src="/static/img/block_6__slide-11.png" alt="">
        </div>
        <div class="block_6__slide">
          <img class="lazyload" src="#" data-src="/static/img/block_6__slide-12.png" alt="">
        </div>
      </div>
    </section>

    <section id="salons" class="block_8">
      <h2  class="block_8__h2">Наши салоны</h2>
      <div class="block_8__wrp">
        <article data-call-salon-1 data-salon="72fe83ad-42f5-11e4-812c-18cf5e1770e2" class="block_8__block widget_reservi_loader widget animation animation_bot">
          <div class="block_8__img">
            <div class="block_8__img_el lazyload" data-bg="/static/img/block_8__block-1.jpg"></div>
          </div>
          <h3 class="block_8__h3">KYNSI на Патриарших</h3>
          <div class="block_8__wp">
            <div class="block_8__row block_8__row-line">Спиридоньевский пер. 5 стр. 2</div>
            <div class="block_8__row">Без выходных, с 9:00 до 22:00</div>
            <div class="block_8__row">Телефон для записи: <a class="mgo-number-11426" href="tel:+74951200303">+7 (495) 120-03-03</a></div>
          </div>
          <div class="block_8__button">Записаться в салон</div>
        </article>
        <article data-call-salon-2 data-salon="388236cd-fddf-11e6-b3ff-d05349e841da" class="block_8__block widget_reservi_loader widget animation animation_bot">
          <div class="block_8__img">
            <div class="block_8__img_el lazyload" data-bg="/static/img/block_8__block-2.jpg"></div>
          </div>
          <h3 class="block_8__h3">KYNSI на Петровке</h3>
          <div class="block_8__wp">
            <div class="block_8__row block_8__row-line">Петровка 20/1</div>
            <div class="block_8__row">Без выходных, с 10:00 до 22:00</div>
            <div class="block_8__row">Телефон для записи: <a class="mgo-number-11408" href="tel:+74951202303">+7 (495) 120-23-03</a></div>
          </div>
          <div class="block_8__button">Записаться в салон</div>
        </article>
        <article data-call-salon-3 data-salon="9fd686ea-9a48-11e4-8264-40f02f23b9a2" class="block_8__block widget_reservi_loader widget animation animation_bot">
          <div class="block_8__img">
            <div class="block_8__img_el lazyload" data-bg="/static/img/block_8__block-3.jpg"></div>
          </div><h3 class="block_8__h3">KYNSI в Москва Сити</h3>
          <div class="block_8__wp">
            <div class="block_8__row block_8__row-line">Пресненская наб., 8, cтр. 1</div>
            <div class="block_8__row">Без выходных, с 10:00 до 22:00</div>
            <div class="block_8__row">Телефон для записи: <a class="mgo-number-11427" href="tel:+74951500540">+7 (495) 150-05-40</a></div>
          </div>
          <div class="block_8__button">Записаться в салон</div>
        </article>
      </div>
      {% comment %} <div data-call-salon-org class="button button-block_1 button-block_8 widget reservi_button_emulation">Записаться онлайн</div> {% endcomment %}
    </section>

    <div class="block_3 animation animation_bot">
      <div class="block_3__slider">
        <article class="block_3__slide">
          <div class="block_3__image lazyload" data-bg="/static/img/reviews-1.jpg"></div>
          <div class="block_3__content">
            <h2 class="block_3__h2">Валерия Артеменко</h2>
            <div class="block_3__text">С Кинси у меня случилась любовь с первого взгляда. Это не просто салон куда я прихожу привести себя в порядок. Прибегая между репетициями я расслабляюсь и погружаюсь в замечательную атмосферу комфорта и спокойствия. Но главное достоинство Кинси- это потрясающие мастера, которые исполнят любой ваш каприз)</div>
          </div>
        </article>
        <article class="block_3__slide">
          <div class="block_3__image lazyload" data-bg="/static/img/reviews-2.jpg"></div>
          <div class="block_3__content">
            <h2 class="block_3__h2">Александра Войтенкова</h2>
            <div class="block_3__text">Kynsi-любимое место. Аккуратные и высококвалифицированные мастера своего дела, приятные цены и атмосфера - что жителям мегаполиса, ох, как важно) Выше всяких похвал!</div>
          </div>
        </article>
        <article class="block_3__slide">
          <div class="block_3__image lazyload" data-bg="/static/img/reviews-3.jpg"></div>
          <div class="block_3__content">
            <h2 class="block_3__h2">Мария Виноградова</h2>
            <div class="block_3__text">Для меня Kynsi - это пожалуй единственный салон в Москве, где можно действительно расслабиться. Тут все на высшем уровне : персонал, обслуживание, уход и прекрасный интерьер. Каждый раз после посещения Kynsi, мои маникюр и педикюр всегда в идеальном состоянии и служат мне очень долго. Похожих салонов в Москве я пока еще не встречала.</div>
          </div>
        </article>
        <article class="block_3__slide">
          <div class="block_3__image lazyload" data-bg="/static/img/reviews-4.jpg"></div>
          <div class="block_3__content">
            <h2 class="block_3__h2">Веро Холмова</h2>
            <div class="block_3__text">Давно заметила за собой некий снобизм что касается интерьеров, будь то ресторан, квартира, кинотеатр. Kynsi, в этом плане меня приятно поразил: локанично, минималистично, а что главное для дома красоты-функционально. Сочетание белого цвета, дерева, живых стен и запаха лаванды от расслабляющего воротничка, который тебе заботливо кладут на хрупкие, уставшие плечи - незабываемо. Здесь работают настоящие профессионалы, всегда оценка 5+.</div>
          </div>
        </article>
        <article class="block_3__slide">
          <div class="block_3__image lazyload" data-bg="/static/img/reviews-5.jpg"></div>
          <div class="block_3__content">
            <h2 class="block_3__h2">Мария Лихтенфельд</h2>
            <div class="block_3__text">С появлением нового KYNSI можно забыть о всех ярлыках "салонов красоты" и "маникюрных студий". Это футуристичное, многофункциональное пространство, в котором пропадаешь, отрываясь от суеты реальности. При этом - отличный ногтевой сервис, любимая подборка фильмов и постоянное предвкушение новых сюрпризов.</div>
          </div>
        </article>
        <article class="block_3__slide">
          <div class="block_3__image lazyload" data-bg="/static/img/reviews-6.jpg"></div>
          <div class="block_3__content">
            <h2 class="block_3__h2">Артём Королев</h2>
            <div class="block_3__text">Я не уделяю столько времени и внимания своему маникюру, как девушки, но ногти всегда держу в хорошем состоянии. В Kynsi все происходит быстро и приятно. Плюс там работают самые красивые девушки Москвы :) Так что мне очень нравится!</div>
          </div>
        </article>
        <article class="block_3__slide">
          <div class="block_3__image lazyload" data-bg="/static/img/reviews-7.jpg"></div>
          <div class="block_3__content">
            <h2 class="block_3__h2">Вячеслав Глушков</h2>
            <div class="block_3__text">Я про Kynsi слышу регулярно и достаточно давно от своих вечно взволнованных состоянием маникюра подруг. А недавно на смену моим скитаниям по разным салонам пришел новый Kynsi прямо рядом с домом. Благо сервис на правильном уровне, думать и решать особо не пришлось. И да, когда-нибудь я-таки попробую маникюр "по локоть" под названием, кажется, Кристина</div>
          </div>
        </article>
      </div>
    </div>

    <div class="block_9">
      <div class="block_9__slider animation animation_bot">
        <a href="https://www.instagram.com/p/BpM7dqQHUmz/" aria-label="instagram" rel="noopener" target="_blank" class="block_9__img lazyload" data-bg="/static/img/block_9__img-1.jpg"></a>
        <a href="https://www.instagram.com/p/BsdpbuLHx2H/" aria-label="instagram" rel="noopener" target="_blank" class="block_9__img lazyload" data-bg="/static/img/block_9__img-9.jpg"></a>
        <a href="https://www.instagram.com/p/Br5Z6jTnbv-/" aria-label="instagram" rel="noopener" target="_blank" class="block_9__img lazyload" data-bg="/static/img/block_9__img-10.jpg"></a>
      </div>
      <div class="block_9__slider animation animation_bot">
        <a href="https://www.instagram.com/p/Behi9-vB28R/" aria-label="instagram" rel="noopener" target="_blank" class="block_9__img lazyload" data-bg="/static/img/block_9__img-2.jpg"></a>
        <a href="https://www.instagram.com/p/Br0nKd5HEV7/" aria-label="instagram" rel="noopener" target="_blank" class="block_9__img lazyload" data-bg="/static/img/block_9__img-11.jpg"></a>
        <a href="https://www.instagram.com/p/BruH1vxnEdJ/" aria-label="instagram" rel="noopener" target="_blank" class="block_9__img lazyload" data-bg="/static/img/block_9__img-12.jpg"></a>
      </div>
      <div class="block_9__slider animation animation_bot">
        <a href="https://www.instagram.com/p/BeXuOZQFioZ/" aria-label="instagram" rel="noopener" target="_blank" class="block_9__img lazyload" data-bg="/static/img/block_9__img-3.jpg"></a>
        <a href="https://www.instagram.com/p/BrmWPc4Hz0t/" aria-label="instagram" rel="noopener" target="_blank" class="block_9__img lazyload" data-bg="/static/img/block_9__img-13.jpg"></a>
        <a href="https://www.instagram.com/p/BqrLQwwH5vV/" aria-label="instagram" rel="noopener" target="_blank" class="block_9__img lazyload" data-bg="/static/img/block_9__img-14.jpg"></a>
      </div>
      <div class="block_9__slider animation animation_bot">
        <a href="https://www.instagram.com/p/Bp6thdXHl7L/" aria-label="instagram" rel="noopener" target="_blank" class="block_9__img lazyload" data-bg="/static/img/block_9__img-4.jpg"></a>
        <a href="https://www.instagram.com/p/BphzahZnNts/" aria-label="instagram" rel="noopener" target="_blank" class="block_9__img lazyload" data-bg="/static/img/block_9__img-15.jpg"></a>
        <a href="https://www.instagram.com/p/Bn0ze-BhuYw/" aria-label="instagram" rel="noopener" target="_blank" class="block_9__img lazyload" data-bg="/static/img/block_9__img-16.jpg"></a>
      </div>
      <div class="block_9__slider animation animation_bot">
        <a href="https://www.instagram.com/p/BdzUZJFl3Qr/" aria-label="instagram" rel="noopener" target="_blank" class="block_9__img lazyload" data-bg="/static/img/block_9__img-5.jpg"></a>
        <a href="https://www.instagram.com/p/BnTJZBMBAzz/" aria-label="instagram" rel="noopener" target="_blank" class="block_9__img lazyload" data-bg="/static/img/block_9__img-17.jpg"></a>
        <a href="https://www.instagram.com/p/Bl-Nh3Lh5hW/" aria-label="instagram" rel="noopener" target="_blank" class="block_9__img lazyload" data-bg="/static/img/block_9__img-18.jpg"></a>
      </div>
      <div class="block_9__slider animation animation_bot">
        <a href="https://www.instagram.com/p/BbuS7PFldQa/" aria-label="instagram" rel="noopener" target="_blank" class="block_9__img lazyload" data-bg="/static/img/block_9__img-6.jpg"></a>
        <a href="https://www.instagram.com/p/Bhl0uQkBjH9/" aria-label="instagram" rel="noopener" target="_blank" class="block_9__img lazyload" data-bg="/static/img/block_9__img-19.jpg"></a>
        <a href="https://www.instagram.com/p/BgV6BVvHN7E/" aria-label="instagram" rel="noopener" target="_blank" class="block_9__img lazyload" data-bg="/static/img/block_9__img-20.jpg"></a>
      </div>
      <div class="block_9__slider animation animation_bot">
        <a href="https://www.instagram.com/p/Ba6o8GIlT8-/" aria-label="instagram" rel="noopener" target="_blank" class="block_9__img lazyload" data-bg="/static/img/block_9__img-7.jpg"></a>
        <a href="https://www.instagram.com/p/BeAQrPdl1ab/" aria-label="instagram" rel="noopener" target="_blank" class="block_9__img lazyload" data-bg="/static/img/block_9__img-21.jpg"></a>
        <a href="https://www.instagram.com/p/Bdw5Ez5FqSW/" aria-label="instagram" rel="noopener" target="_blank" class="block_9__img lazyload" data-bg="/static/img/block_9__img-22.jpg"></a>
      </div>
      <div class="block_9__slider animation animation_bot">
        <a href="https://www.instagram.com/p/BcZQaB9ltB-/" aria-label="instagram" rel="noopener" target="_blank" class="block_9__img lazyload" data-bg="/static/img/block_9__img-8.jpg"></a>
        <a href="https://www.instagram.com/p/BczPTXUFABI/" aria-label="instagram" rel="noopener" target="_blank" class="block_9__img lazyload" data-bg="/static/img/block_9__img-23.jpg"></a>
        <a href="https://www.instagram.com/p/BcmcCZ8FeKh/" aria-label="instagram" rel="noopener" target="_blank" class="block_9__img lazyload" data-bg="/static/img/block_9__img-24.jpg"></a>
      </div>
    </div>

    <div class="map animation animation_bot">
      <iframe class="lazyload" title="yandexMap" data-src="https://yandex.ru/map-widget/v1/?um=constructor%3Ac2cc93efc49dcd1f934e880248f1c3531200eb3a94cc165c483d659df6bb1630&amp;source=constructor"></iframe>
    </div>

  </div>

{% endblock %}